
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Bear and Two Friends</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <br>
            <br>
            <h1 style="text-align=center">Two Heads</h1>
            <br>

            <p>
                Once upon a time, there lived a strange bird named Bharunda. He lived on a banyan tree near the banks of a river.
                The strangeness of the bird lies in the fact, that he had two necks, but shared a common stomach.
                One day, the bird was wandering on the banks of the lake and found a red-golden fruit, which appeared delicious at the first sight.
                One of the two heads mumbled, “Oh what a fruit. I am sure the heavens have sent it for me. I am so lucky.”
                He started eating the fruit with immense pleasure and claimed that it was the most delicious fruit he had ever eaten.

                Hearing this, the other head said,” O dear, let me also taste the fruit you are praising so much”.
                The first head laughed and replied "You know that we've only one stomach, whichever head eats, the fruit will go to the same stomach.
                So, it makes no difference whether I eat it or you eat it. Moreover, I'm the one who found this fruit. So I've the first right to eat it".
                The other head became silent and disappointed after hearing the first head. This kind of selfishness,
                on the part of the first head pinched him very much.

                Later one day, the other head found a tree bearing poisonous fruits. He took the poisonous fruit and told the first head,
                “You deceitful fellow. I will eat this poisonous fruit and avenge your insult which you have done to me”.

                The first head yelled, "Please don't eat this poisonous fruit. If you eat it, both of us will die,
                because we've a common stomach to digest it." The other head replied, “Shut up! As I have found this fruit,
                I have the every right to eat it.” The first head started crying, but the other head didn’t bother and ate the poisonous fruit.
                In the consequence of this action, both of them lost their lives.

               <h1> Moral: Sharing of a good thing with others is always good.</h1>
            <hr>
            <a style="text-align:center" th:href="@{/books/list}">Back to Story List</a>

            </p>
        </div>
    </div>
</div>
</body>

</html>