
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Bear and Two Friends</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <br>
            <br>
            <h1 style="text-align=center">  The Elephant Circus</h1>
            <br>

            <p>

                One of the short moral stories for kids that talks about perception.

                Once upon a time in a circus, five elephants performed circus tricks. They were kept tied up with weak rope that they could’ve easily escaped, but did not.

                One day, a man visiting the circus asked the ringmaster: “Why haven’t these elephants broken the rope and run away?”

                The ringmaster replied: “From when they were young, the elephants were made to believe that they were not strong enough to break the ropes and escape.”

                It was because of this belief that they did not even try to break the ropes now.

            <h2>  Moral of the story </h2>
                Don’t give in to the limitations of society. Believe that you can achieve everything you want to!
            <hr>
            <a style="text-align:center" th:href="@{/books/list}">Back to Story List</a>

            </p>
        </div>
    </div>
</div>
</body>

</html>