
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Bear and Two Friends</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <br>
            <br>
            <h1 style="text-align=center">The Cat And The Mice</h1>
            <br>

            <p>
                Here is a short story from around the world about ideas and actions.

                A long time ago, the mice had all gathered together to discuss their biggest issue!

                A cat who was chasing and catching the mice!

                “It is chaos!” said a mouse angrily.

                “We need to find a solution that us warns of the cat!” said the other.

                “Can we decide soon before the cat spots us,” said another worried mouse.

                An old mouse raised its paw and said: “Let’s find a quick solution!”

                The mice soon started to discuss and shout out ideas.

                “We will have a watchtower to warn us!” said one

                “We should all go in groups to avoid being eaten by the cat!” said another.

                “I have an idea,” said another. “Let’s tie a bell around the cat’s neck! So when the cat strolls
                around the sound of the bell will warn us!”

                All the mice agreed. This was the best idea!

                “All right! So, who will bell the cat?” asked the old mouse.

                There was silence! Soon, one by one all the mice ran away quietly until only the old mouse remained.

            <h2>Moral of the story</h2>
            Giving solutions or having ideas is fine but its action which defines the solution or idea.

            <hr>
            <a style="text-align:center" th:href="@{/books/list}">Back to Story List</a>

            </p>
        </div>
    </div>
</div>

</body>

</html>