
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Bear and Two Friends</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <br>
            <br>
            <h1 style="text-align=center">Crows In The Kingdom</h1>
            <br>

            <p>
                This short story on Birbal’s intelligence, which is sure to tickle your child’s laughter.

                One day on a stroll with his courtiers, Akbar sees crows flying in the sky and asks: “Can someone tell me how many crows are there in the kingdom?”

                All the courtiers are baffled!

                “Jahapana! How is it possible to count the crows in the kingdom?” wondered a courtier.

                “It is impossible,” said another.

                They murmured and shook their heads.

                “Birbal, what do you think?” asked Akbar.

                “Even Birbal cannot respond to this question, my lord,” said a courtier with a smirk!

                “Yes, that’s why he is quiet!” said one of them.

                “Hmm… hmm… There must be ninety-five thousand, four hundred and sixty-three crows in our kingdom, Jahapana,” said Birbal quietly.

                “How is that even possible?” asked all the courtiers.

                Even Akbar was surprised. “How sure are you, Birbal?” he asked.

                “I’m very sure! Let’s send someone to count the number of crows in the kingdom, your majesty!” he said.

                “Hmm.. what if there are less number of crows?” asked a courtier.

                “Then, it means the crows have gone to visit their relatives in the neighbouring kingdoms!” quipped Birbal.

                “But, what if there are more crows than your count?” asked another courtier.

                “Oh, it means that the crows from the neighbouring kingdoms have come to visit their relatives,” said Birbal, just as Akbar burst into a bout of laughter.

            <h2> Moral of the story </h2>
            Where there is a will, there is a way. We can always find a solution to any problem.

            <hr>
            <a style="text-align:center" th:href="@{/books/list}">Back to Story List</a>

            </p>
        </div>
    </div>
</div>

</body>

</html>