
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Bear and Two Friends</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <br>
            <br>
            <h1 style="text-align=center">The Milkmaid And Her Pail</h1>
            <br>

            <p>
                A short story for kids about daydreaming and hard work!

                There was once a milkmaid named Patty.

                She milked her cow and carried the two pails of milk she fetched on a stick and set out to sell the milk at the market.

                As she was walking to the market, she began to daydream about what she would do with the money she got for the milk.

                She thought of buying a hen and selling its eggs and she planned on becoming wealthy.

                She dreamt of buying a cake, a basket of strawberries, a fancy dress, and even a new house with the money she would make selling the eggs and the milk!

                In her excitement, she forgot about the pails she was carrying and began to skip.

                Suddenly, she realised that the milk was spilling down and when she checked her pails, they were empty.


            <h2> Moral of the story</h2>
            Don’t count your chickens before they hatch! It is important to focus on the process of achieving success and not just success alone.

            <hr>
            <a style="text-align:center" th:href="@{/books/list}">Back to Story List</a>

            </p>
        </div>
    </div>
</div>

</body>

</html>