
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Bear and Two Friends</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <br>
            <br>
            <h1 style="text-align=center">The Foolish Thief</h1>
            <br>

            <p>
                Yet another story of Birbal for kids, which has a short moral in place!

                Once, a wealthy merchant came to King Akbar’s court to seek help from Birbal. He suspected that one of his servants had robbed him.

                On hearing this, Birbal thought of a clever plan and summoned the merchant’s servants.

                He gave each servant a stick of the same length. He told them that the thief’s stick would grow two inches by the next day.

                The next day, Birbal summoned the servants again. He noticed that a servant’s stick was two inches shorter than the others.

                He knew who the thief was.

                The foolish thief had cut the stick shorter by two inches as he thought it would grow two inches. Thus, proving his guilt.
            <h2> Moral of the story</h2>
            Truth and justice will always prevail.

            <hr>
            <a style="text-align:center" th:href="@{/books/list}">Back to Story List</a>

            </p>
        </div>
    </div>
</div>

</body>

</html>