<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Story App</title>
</head>

<body>

<div class="container">

    <br>
    <br>

    <h2 style="text-align:center" class="text-primary font-weight-bold p-3 mb-2 bg-warning text-dark">Story Reading App</h2>
    <hr>


    <form action="#" th:action="@{/books/search}"
          method="GET" class="form-inline">

    <!-- Add a button -->
        <input type="search"
               name="storyName"
               placeholder="StoryName"
               class="form-control-lg ml-5 mr-2 mb-3" />

        <button type="submit"
                class="btn btn-success btn-sm mb-3">Search</button>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th style="text-align:center">Story Name</th>
            <th style="text-align:center">Story Type</th>
            <th style="text-align:center">Author First Name</th>
            <th style="text-align:center">Author Last Name</th>
            <th style="text-align:center">Author Mail id</th>
            <th style="text-align:center">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempBook : ${books}">

            <td class="text-center" th:text="${tempBook.storyName}" />
            <td class="text-center" th:text="${tempBook.storyType}" />
            <td class="text-center" th:text="${tempBook.author.firstName}"/>
            <td class="text-center" th:text="${tempBook.author.lastName}"/>
            <td class="text-center" th:text="${tempBook.author.email}"/>

            <td>
                <!-- Add "update" button/link -->

                <a th:href="@{/books/show(bookId=${tempBook.id})}"
                   class="btn btn-success">
                    Read
                </a>

                <!-- Add "delete" button/link -->
                <a th:href="@{/books/delete(bookId=${tempBook.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Do you want to delete this Story?'))) return false">
                    Delete
                </a>

            </td>

        </tr>
        </tbody>
    </table>
        <a th:href="@{/books/list}">Back to List</a>
</div>
</body>
</html>



